:root {
    --mainBlue: #1BC9FF;
    --mainSec: #61E8E1;
    --mainThird: #7EC5CC;
    --mainWhite: #ffffff;
    --mainDark: #2C4547;
}

body {
    background: var(--mainSec);
    color: var(--mainDark);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    letter-spacing: 0.25rem !important;
}


