.navbar {
    background: var(--mainThird)
}


.navbar-nav {
    align-items: center;
}

.cart-icon {
    cursor: pointer;
    color: var(--mainDark);
    font-size: 40px;
}

.cart-icon:hover {
    color: var(--mainWhite)
}

.nav-link:hover {
    color: var(--mainWhite)
}

.navbar-nav {
    color: white;
}
